<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\TTG_LOG_" />
      <datePattern value="yyyyMMdd'.log'"/>
      <appendToFile value="true" />
      <staticLogFileName value="false"/>
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="30" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%level, %date{HH:mm:ss}] %message%newline%exception"/>
      </layout>
    </appender>

    <appender name="ErrorRollingLogFileAppender"
      type="log4net.Appender.RollingFileAppender,log4net">
      <File value="logs\\TTG_Error.log" />
      <AppendToFile value="true" />
      <MaxSizeRollBackups value="10" />
      <MaximumFileSize value="5MB" />
      <RollingStyle value="Size" />
      <StaticLogFileName value="true" />
      <maxSizeRollBackups value="5" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%level, %date{yyyy-MM-dd HH:mm:ss}] %message%newline%exception%newline"/>
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>

    <appender name="NotifyAppender" type="TTG_LOG_WPF.Logging.NotifyAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>


    <root>
      <level value="ALL" />
      <appender-ref ref="NotifyAppender" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ErrorRollingLogFileAppender" />
    </root>

  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>